.budget {
    >div{ 
        padding: 16pt 10% !important;
    }
    .sliderRow button {
        &:first-of-type {
            margin-right: 30px;
        }
        &:last-of-type {
            margin-left: 30px;
        }
    }
}