.header {
    height: 100vh;
    &::before {
        content: '';
        background-image: url("../public/img/logo-stroke.svg");
        background-size: cover;
        width: 130vw;
        height: 100vh;
        position: absolute;
        left: -30%;
        opacity: .5;
    }

    .taglineContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        .tagline {
            max-width: 550px;
            width: calc(100vw - 30px);
            font-size: 2em;
            span {
                display: inline-block;
                word-wrap: break-word;
            }
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        >button {
            margin: 12px;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .header::before {
        filter: invert(1);
    }
}