.header {
    height: 100vh;
    background-image: url("../public/img/logo-stroke.svg");
    background-position: -20%, 50%;
    background-size: auto, 120%;
    background-repeat: no-repeat;
    .taglineContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        .tagline {
            max-width: 550px;
            width: calc(100vw - 30px);
            font-size: 2em;
            span {
                display: inline-block;
                word-wrap: break-word;
            }
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        >button {
            margin: 12px;
        }
    }
}