.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    transition: height 200ms ease-in-out;
    z-index: 100;
    .logo {
        display: block;
        position: relative;
        top: 30px;
        left: 40px;
        height: 50px;
        width: 50px;
        background: url("../public/img/logo.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
}

@media (max-width: 1100px) {
    .navbar {
        position: static;
    }
}
@media (prefers-color-scheme: dark) {
    .navbar .logo {
        filter: invert(1);
    }
}