.container {
    position: absolute;
    top: 10vh;
    left: 10vw;
    width: calc(100vw - 20vw - 20px);
    height: calc(100vh - 20vh);
    display: flex;
    justify-content: space-evenly;
    // align-items: baseline;
    flex-wrap: wrap;
    padding: 20px;
}

.section1 {
    position: relative;
    height: 100vh;
    .topLine {
        position: absolute;
        width: 100vw;
        height: 0px;
        left: 0px;
        top: 10vh;
        border-top: 1px solid var(--text-color);
    }
    .leftLine {
        position: absolute;
        width: 0px;
        height: 100vh;
        left: 10vw;
        top: 0;
        border-right: 1px solid var(--text-color);
    }
    .rightLine {
        position: absolute;
        width: 0px;
        height: 100vh;
        right: 10vw;
        top: 0;
        border-right: 1px solid var(--text-color);
    }
    .bottomLine {
        position: absolute;
        width: 100vw;
        height: 0px;
        left: 0px;
        bottom: 10vh;
        border-top: 1px solid var(--text-color);
    }
    .circle1 {
        position: absolute;
        width: 20vh;
        height: 20vh;
        bottom: 10vh;
        left: 10vw;
        transform: translateX(-50%);
        border-radius: 100%;
        border: 1px solid var(--text-color);
    }
    .circle2 {
        position: absolute;
        width: 20vh;
        height: 20vh;
        bottom: 10vh;
        left: 10vw;
        transform: translateY(50%);
        border-radius: 100%;
        border: 1px solid var(--text-color);
    }
    .rectangle {
        position: absolute;
        width: 20vh;
        height: 20vh;
        top: 10vh;
        right: 10vw;
        border: 1px solid var(--text-color);
    }
    .container .description {
        max-width: 480px;
        font-weight: 500;
        font-size: 1em;
        line-height: 1.4em;
        letter-spacing: 0.1em;
    }
}
@media (max-height: 600px) {
    .section1 .container {
        display: block;
        .description {
            font-size: 0.9em;
            line-height: 1.4em;
        }
    }
}
@media (min-width: 950px) {
    .section1 .container .description {
        font-size: 1.5em;
        line-height: 1.7em;
    }
}

.section2 {
    .container {
        justify-content: flex-start;
    }

    &::before {
        content: '';
        background: url("../public/img/Computer.svg");
        background-size: cover;
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: -30%;
        opacity: .5;
    }
    .cards {
        align-items: center;
        cursor: pointer;
        .title {
            font-family: var(--normalFont);
            font-style: normal;
            font-weight: 900;
            font-size: 36px;
            line-height: 43px;
        }
        .lines {
            font-family: var(--normalFont);
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 27px;
        }
    }
}

@media (max-width: 900px) {
    .section2 .cards {
        .title {
            font-size: 24px;
            line-height: 36px;
        }
        img {
            width: 100px;
            height: 72px;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .section2 img {
        filter: invert(1);
    }

    .s2img {
        filter: invert(1);
    }
}
.section3 {
    position: relative;
    height: 100vh;
    .container {
        justify-content: flex-start;
    }
    .carousel {
        position: absolute;
        left: 0;
        top: 50%;
        display: inline-block;
        white-space: nowrap;
        position: relative;
        width: max-content;
        .c1, .c2 {
            display: inline-block;
            width: max-content;
            white-space: nowrap;
            animation: slide 40s linear infinite;
            >div {
                display: inline-block;
            }
            .project {
                padding: 5px;
                border: 1px solid var(--text-color);
                margin: 10px;
            }
        }
    }
}

@keyframes slide {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}